@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="dedication"] p{
	font-variant: small-caps;
	margin: auto;
	margin-top: 3em;
	text-align: center;
	text-indent: 0;
	max-width: 75%;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] i{
	font-style: normal;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

td{
	padding: 0;
	vertical-align: top;
}

body > section > table > tbody > tr > td:first-child{
	padding-right: .5em;
}

table h2,
table h3{
	margin: 0;
	font-size: 1em;
	text-align: right;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figure > p{
	text-indent: 0;
}

figure table{
	border-collapse: collapse;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

figure table td{
	padding: .25em;
}

figure table + table{
	margin-left: 1em;
}

figure table.truth-table thead td{
	border-bottom: 2px solid;
	font-style: italic;
}

figure table.truth-table td{
	text-align: center;
}

figure table.truth-table td + td{
	border-left: 1px solid;
}

figure table.truth-table tr + tr td{
	border-top: 1px solid;
}
